<h1>Recipe List</h1>
<section>
    <ul>
      {{#each post in model}}
        {{#link-to 'show'}}
          <li>
            <h1>{{post.title}}</h1> <h4>{{post.updatedAt}}</h4>
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
</section>
