<h1>Recipe List</h1>
<section>
    <ul>
      {{#each post in model}}
      <a href>
        <li>
          <h1>{{post.title}}</h1> <h4>{{post.updatedAt}}</h4>
        </li>
      </a>
      {{/each}}
    </ul>
</section>
