<h1>New Recipe</h1>

<form>
  {{input type="text" class="new-name" placeholder="New Recipe Name" value=newName}}

  {{textarea class="new-description" placeholder="Enter some text." value=newDescription}}

  <button {{action "createRecipe" newName newDescription}}>Create New Recipe</button>
</form>

{{outlet}}
